db_host=localhost
db_port=5432
db_user=postgres
db_password=postgres
db_name=user_management


smtp_server=sandbox.smtp.mailtrap.io
smtp_port=2525
smtp_username=
smtp_password= 


jwt_secret=change_me_to_a_long_random_string
access_token_expire_minutes=30
debug=true
